* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: url(assets/sylphietteOrangev3.png);
    background-size: cover;
    /* height: 100vh;
    width: 100vw; */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(2px);
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header {
    background-color: #000;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 1000;
    height: 10vh;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.navTop {
    display: flex;
    justify-content: space-between;
    /* position: inherit; */
    align-items: center;
    border-radius: 10px;
    height: 100%;
    backdrop-filter: blur(50px);
    background-color: rgba(43, 38, 36, 0.5);
}

.logo {
    background-image: url(assets/wallpeperJapnees.jpg);
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-left: 0.5vw;
    height: 70%;
    width:  6vw;
    /* position: relative; */
    top: 0;
}

.logo:hover {
    scale: 1.1;
    transition: scale 0.3s ease-in-out;
}

.navContent {
    color: #fff;
    text-decoration: none;
    font-size: 150%;
    font-weight: bolder;
    margin-right: 1vw;
    margin-left: 1vw;
    text-align: center;
    /* background-color: rgb(111, 114, 114); */
}

.navContent:hover {
    color: #ff7300;
    border-bottom: 2px solid #ff7300;
    border: content;
    
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
    
}

@media screen and (max-width: 768px) {
    .navContent {
        font-size: 80%;
        padding-right: 1vw;
        padding-left: 1vw;
    }

    .logo {
        display: none;
    }
}

/* main content */

main {
    width: 100%;
    display: grid;
    background: rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    align-items: center;
}

.aboutProject {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30vh;
    width: 95vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

.aboutPic {
    height: 20vh;
    width: 30vw;
    background-color: #d6d0d0;
}
